body{
    background-color: black;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: underline;
}
.container{
    max-width: 1600px;
    padding: 0;
}
.header{
    background-color: grey;
    display: flex;
    padding: 0;
    height: 100px;
    align-items: center;
}
.header-logo{
    
}
.logo__image{
    width: 100px;
    height: 100px;
}
.header-navigation__menu{
    
}
.navigation-menu__list{
    display: flex;
    justify-content: center;
    margin: 0;
}
.menu-list__item{
    text-align: center;
}
.menu-list__item:not(:last-child){
    border-right: 2px solid black;
}
.list-item__link{}

.text-block__wrapper{
    height: 300px;
    background-color: cornflowerblue;
    text-align: center;
}
.first-out__form{
    display: flex;
    justify-content: center;
}
